body, html {
  height: 100%; }

body {
  background-image: url(../img/bg.png);
  background-size: cover;
  height: 100%; }

h1, h2, h3, h4, h5, p, a, span {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF; }

.header-wrapper {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px; }

/* Login and register pages */
.login-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px; }

.sign-up-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sign-up-head span {
  color: #FFFFFF;
  padding-right: 22px; }

.sign-up-head a {
  text-align: center;
  text-decoration: none;
  color: #E21D3D;
  padding: 14px 50px;
  border: 1px solid #E21D3D;
  border-radius: 25px;
  text-transform: uppercase; }

.login-wrapper {
  max-width: 624px;
  width: 100%;
  margin: 0 auto;
  margin-top: 166px; }
  .login-wrapper .login-inner-wrapper {
    padding: 0 20px; }

.login-wrapper h1 {
  color: #FFFFFF;
  font-size: 38px;
  margin-bottom: 10px; }

.login-wrapper span {
  color: #816EB3;
  font-size: 16px; }

.row.main-title {
  margin-bottom: 40px; }

form .inputs-holder {
  margin-left: -20px;
  margin-right: -20px; }

.col-100 {
  width: 100%; }

.col-50 {
  float: left;
  width: 50%; }

.col-45 {
  width: 45%;
  float: left;
  border-bottom: 2px solid #443271;
  margin-top: 7px; }

.col-10 {
  width: 10%;
  float: left;
  text-align: center;
  margin-bottom: 12px; }

.input-wrapper label, input {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px; }

.input-wrapper input {
  height: 50px;
  background: none;
  border: none;
  border-bottom: 2px solid #443271;
  color: white; }

input::-webkit-input-placeholder {
  color: #816EB3;
  font-size: 16px; }

input:-ms-input-placeholder {
  color: #816EB3;
  font-size: 16px; }

input::-ms-input-placeholder {
  color: #816EB3;
  font-size: 16px; }

input::placeholder {
  color: #816EB3;
  font-size: 16px; }

.input-wrapper {
  padding: 0px 20px;
  margin-bottom: 20px; }

.login-wrapper button {
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #E21D3D;
  text-transform: uppercase;
  margin-bottom: 12px; }

.row.sign-up a {
  float: right;
  font-size: 14px;
  margin-bottom: 22px; }

.row {
  width: 100%;
  float: left; }

.row.facebook {
  width: 100%;
  text-align: center; }

.row.or span {
  color: #FFFFFF;
  font-size: 14px; }

.row.facebook a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 25px;
  background-color: #3C5D96; }

.clear:after {
  display: table;
  content: '';
  clear: both; }

@media only screen and (max-width: 600px) {
  .col-50 {
    width: 100%; } }
/* End login page

.row {
  display: flex;
  .block {
    width: 33%;
    height: 200px;
    flex: 1;
  }
  .block.vote{
    width: 33%;
    background-color: #ffffff;
    height: 200px;
    flex: 1;
  }
  .block.featured{
    width: 33%;
    background-color: blue;
    height: 200px;
    flex: 1;
  }
  .block.active{
    width: 33%;
    background-color: darkseagreen;
    height: 200px;
    flex: 1;
  }
}
.row.slider {
  display: flex;
  .block.slide-left {
    width: 33%;
    background-color: darkseagreen;
    height: 200px;
    flex: 1;
  }
  .block.slide-current {
    width: 33%;
    background-color: red;
    height: 200px;
    flex: 1;
  }
  .block.slide-right {
    width: 33%;
    background-color: blue;
    height: 200px;
    flex: 1;
  }

}
.footer{
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}
li {
  display: inline;
}
*/

/*# sourceMappingURL=style.css.map */